* {
    /* padding does not affect width */
    box-sizing: border-box;
    /* take out the margin and padding */
    margin: 0;
    padding: 0;
}
/* primary color */
:root {
    --primary-color: #e50914;
    --dark-color: #3b3a42;
    --white-color: #F3F3F3;
    --gray-color: 	 #3b3a42;
}
body {
    font-family: 'Arial', sans-serif;
	-webkit-font-smoothing: antialiased;
	display: flex;
	flex-direction: column;
	min-height: 100vh !important;
	margin: 0;
}
.bg-dark {
    background-color: #1a1a1a!important;
}
#logo {
	width: 50px;
	height: 10px;
}

ul {
	list-style: none;
}
a {
	color: #fff;
	text-decoration: none;
}
p {
	color: #3b3a42;
	margin: 0.5rem 0;
}
.showcase-top #logo {
	width: 170px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-left: 0;
}
.showcase-top a {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(-50%, -50%);
}
.showcase-content {
	position: relative;
	z-index: 2;
	width: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.showcase-content h1 {
	font-weight: 700;
	font-size: 5.2rem;
}
.showcase-content p {
	text-transform: uppercase;
	color: #fff;
	font-weight: 400;
	font-size: 1.9rem;
}
/* Buttons */
.btn {
	display: inline-block;
	background: var(--primary-color);
	color: #fff;
	padding: 0.4rem 1.3rem;
	font-size: 1rem;
	text-align: center;
	border: none;
	cursor: pointer;
	margin-right: 0.5rem;
	transition: opacity 0.2s ease-in;
	outline: none;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
	opacity: 1;
	border-radius: 5px;
}
.btn:hover {
	opacity: 0.9;
}
.btn-rounded {
	border-radius: 5px;
}
.btn-xl {
	font-size: 2rem;
	padding: 0.5rem 2rem;
    text-transform: uppercase;
    margin: 1rem 2rem;
}
.btn-lg {
	font-size: 1rem;
	padding: 0.8rem 1.3rem;
	text-transform: uppercase;
}
.btn-icon {
	margin-left: 1rem;
}
/* FOOTER */
.footer {
	background-color: #1a1a1a;
	bottom: 0;
	width: 100%;
}
.social {
width: 100%;
text-align: center;
height: 100px;
}

.social i {
color: white;
margin: 10px;
}
.social i:hover {
	opacity: 0.6;
	}

.social p {
	text-align: center;
	font-size: 15px;
	color: whitesmoke;
}

.footer-cols {
	overflow: auto;
}
.footer-cols,
.footer-cols a {
	color: #999;
	font-size: 0.9rem;
	text-align: center;
}
.footer-cols p {
	margin-bottom: 1rem;
}
.footer-cols {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 2rem;
}
.footer li {
	line-height: 1.2;
}

.screen {
/* width: 400px;   enlevé car crée un scroll latéral en mode smartphone*/
margin: 30 50;
color:red; 
opacity: 0.7;
}

#logo-big {
	width: 280px;
	margin: 30 auto;
}

/* SECTIONS */
.page {
	padding: 10px 0px 10px 0px;
	background-image: url(../images/background.jpg);
	background-attachment: fixed;
	background-size: cover;
	min-height: calc(100vh - (216px + 64px));
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
/* GALLERY */
.content {
    width: 1000px;
    margin: 0 auto;
}
.content h2 {
    margin: 0;
    padding: 25px 0;
    font-size: 22px;
    border-bottom: 1px solid #ebebeb;
	color: #666666;
}
.image-popup {
    display: none;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 99999;
}
.image-popup .con {
    display: flex;
    flex-flow: column;
    background-color: #ffffff;
    padding: 25px;
    border-radius: 5px;
}
.image-popup .con h3 {
    margin: 0;
    font-size: 18px;
}
.home .images {
    display: flex;
    flex-flow: wrap;
}
.home .images a {
    display: block;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    margin: 0 20px 20px 0;
}
.home .images a:hover span {
    opacity: 1;
    transition: opacity 1s;
}
.home .images span {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    color: #fff;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 15px;
    transition: opacity 1s;
}
.form-login {
	text-align:center;
	color: #ffffff;
	margin: auto;
	width: 15%;
	padding: 10px;
	border: 1px solid rgb(202, 201, 201);
	border-radius: 15px;
	align-content: center;
	background-color: rgba(0, 0, 0, 0.6);
	-webkit-font-smoothing: antialiased;
}
.registerincorrecte{
	color: white;
	text-align: center;
}
.formradius {
	width: 50%;
	margin: auto;	
	background-color: rgba(229, 9, 20, 0.8);
	border-radius: 10px;
	margin-bottom: 10px;
}
.formsize{
	width: 100%;
}
.loginincorrecte{
	color: white;
	text-align: center;
	background-color: rgba(229, 9, 20, 0.8);
	width: 50%;
	border-radius: 6px;
}
.account{
	color: white;
	text-align: center;
	margin: auto;
	width: 50%;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.6);
	border: 1px solid rgb(202, 201, 201);
	border-radius: 15px;
}
.account p {
	color: white;
}
.changemdp {
	width: 60%;
}

/* RESPONSIVE */
/*Responsiveness, media query: put flex from rows to columns (container divs)*/
@media (min-width: 600px) {
	.form-login {
		width: 70% !important;
	}
	a.btn.btn-rounded-user {
		/* margin-top:15px; */
		text-align:center;
	}
/* CONTENT */
	.showcase-content h1 {
		font-size: 2.5rem;
		line-height: 1;
	}
	.showcase-content p {
		font-size: 1rem;
	}
	.btn-xl {
		font-size: 1rem;
		padding: 1.2rem 1.6rem;
		text-transform: uppercase;
	}
	.footer {
		/* push footer down on mobile */
		position: relative;
	}
	.footer-cols {
		/* display: flex;
		flex-direction: column;
		bottom: 0; */
		/* visibility: hidden; */
	}
	.social i{
		font-size:35px;
		margin: 15px;
		text-align: center;
	}
	.social p {
		font-size:18px;
		text-align: center;
	}

/* GALLERY */
	/* responsive gallery in mobile view */

	.home .images {
		display: flex;
	/* 	flex-direction: column;	 */
		margin: 5px;
	}
	/* Paras in the page */
	.start h2{
		font-size: smaller;
	}
	.start p{
		font-size: smaller;
	}
	/* move pop-up closer to start of screen */
	.image-popup {
		left: -30%;
		top: -1%;
	}
	
}
@media (max-width: 600px) {
	.form-login {
		width: 70% !important;
	}
	.footer-cols {
		grid-template-columns: repeat(2, 1fr);
	}
}


@media (max-width: 960px) {
	.showcase {
		height: 70vh;
	}
	.footer-cols {
		grid-template-columns: repeat(2, 1fr) !important;
	}
	.hide-sm {
		display: none;
	}

	.showcase-content h1 {
		font-size: 3.7rem;
		line-height: 1;
	}

	.showcase-content p {
		font-size: 1.5rem;
	}
/* put footer in relative on mobile */
	.footer {
/* 		position: relative; */
		bottom: 0;
		width: 100%;
	}

	.footer-cols {
		grid-template-columns: repeat(2, 1fr);
	}

	.btn-xl {
		font-size: 1rem;
		padding: 1rem 1.5rem;
		text-transform: uppercase;
	}

	.text-xl {
		font-size: 1.5rem;
	}

	.text-lg {
		font-size: 1.3rem;
		margin-bottom: 1rem;
	}

	.text-md {
		margin-bottom: 1rem;
		font-size: 1.2rem;
	}
}

@media(max-height: 600px) {
	.showcase-content {
	  margin-top: 3rem;
  }
  
  }